In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd
import sys
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from ml.data import *
from ml.model import *

In [3]:
# Script to train machine learning model.
sys.path.insert(0, 'ml')

from data import *
# Add the necessary imports for the starter code.

# Add code to load in the data.
data = pd.read_csv('../data/census.csv')

data.columns = data.columns.str.strip()
# Optional enhancement, use K-fold cross validation instead of a train-test split.
train, test = train_test_split(data, test_size=0.20)

cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
# this maps all columns to numbers
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
)

/Users/administrador/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [4]:
X_train

array([[3.30000e+01, 1.71876e+05, 1.00000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.10000e+01, 2.82882e+05, 9.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [8.40000e+01, 2.41065e+05, 1.40000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [3.40000e+01, 2.13722e+05, 9.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [7.30000e+01, 3.49347e+05, 4.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [2.50000e+01, 1.09419e+05, 9.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [5]:
random_Forest = RandomForestRegressor(n_estimators = 100, max_depth= 15)

In [7]:
# Proces the test data with the process_data function.
X_test, y_test, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=False, encoder = encoder, lb=lb
)
model = train_model(X_train, y_train)

type(model)

/Users/administrador/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

sklearn.linear_model._logistic.LogisticRegression

In [33]:
r_squared = random_Forest.score(X_test, y_test)

y_pred = random_Forest.predict(X_test)

In [34]:
mae = mean_absolute_error(y_test, y_pred)

In [35]:
print('r2:',str(r_squared))
print('mae:',str(mae))

r2: 0.7958065108173116
mae: 0.11096658136788133

In [ ]:
#v2

In [34]:
# Script to train machine learning model.

from sklearn.model_selection import train_test_split
import pandas as pd
import sys
import joblib

from ml.data import *
from ml.model import *  
# Add the necessary imports for the starter code.

# Add code to load in the data.


def metrics_based_slice(X_test, slice_column, y_test, y_pred):
    value_list = X_test[slice_column].unique.tolist()
    for value in value_list:
        mask = test[slice_column] == value
        y_test_slice = y_test[mask]
        y_pred_slice = y_pred[mask]
        precision, recall, fbeta = compute_model_metrics(y_test, y_pred)
        print(slice_column + ' ' + value)
        print('precision,',str(precision))
        print('recall,',str(recall))
        print('fbeta,',str(fbeta))
        print(38*'-')




data = pd.read_csv('../data/census.csv')

data.columns = data.columns.str.strip()
# Optional enhancement, use K-fold cross validation instead of a train-test split.
train, test = train_test_split(data, test_size=0.20)

cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
)

# Proces the test data with the process_data function.
X_test, y_test, encoder, lb = process_data(
    test, categorical_features=cat_features, label="salary", training=False, encoder = encoder, lb=lb
)

model = train_model(X_train, y_train)
y_pred = inference(model, X_test)

precision, recall, fbeta = compute_model_metrics(y_test, y_pred)
print('precision,',str(precision))
print('recall,',str(recall))
print('fbeta,',str(fbeta))

model_str_name = 'model_rf_classifier_v1'
# save model
joblib.dump(model, '../model/{}.pkl'.format(model_str_name))

slice_column = 'education'
# metrics_based_slice(X_test, slice_column, y_test, y_pred)

/Users/administrador/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

precision, 0.7809128630705394
recall, 0.5925692695214105
fbeta, 0.673827425707125

In [35]:
test

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
13910,73,Self-emp-inc,80986,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,United-States,<=50K
7601,50,Private,110748,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K
18710,49,Private,233639,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,50,United-States,<=50K
12135,40,Private,119493,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
5121,50,Private,71417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,3103,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845,50,Private,121685,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
9786,30,Private,54608,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
24629,52,Private,145271,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
21832,36,Private,65624,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K
24700,27,Private,230563,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K

In [36]:
y_test.shape

(6513,)

In [37]:
y_pred.shape

(6513,)

In [38]:
y_pred

array([0, 0, 0, ..., 1, 0, 0])

In [39]:
slice_column = 'education'
mask = np.array(test[slice_column] == 'Doctorate')
(test[slice_column] == 'Doctorate').value_counts()

False    6439
True       74
Name: education, dtype: int64

In [42]:
y_test_slice = np.ma.masked_where(mask, y_test)
y_test_slice

masked_array(data=[0, 0, 0, ..., 0, 0, 0],
             mask=[False, False, False, ..., False, False, False],
       fill_value=999999)